name: Hikka

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-run-hikka:
    runs-on: ubuntu-latest
    steps:
      - name: Update and install dependencies
        run: |
          sudo apt update && sudo apt install git libcairo2 -y
      - name: Clone Hikka repository
        run: git clone https://github.com/hikariatama/Hikka
      - name: Change directory to Hikka
        run: cd Hikka
      - name: Install Hikka dependencies
        run: pip install -r requirements.txt
      - name: Run Hikka
        run: python3 -m hikka
